[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"django-bootstrap4" = "*"
reportlab = "*"
pypandoc = "*"
gunicorn = "*"
django-heroku = "*"

[dev-packages]
pylint = "*"
django-extensions = "*"
django-debug-toolbar = "*"
bpython = "*"

[requires]
python_version = "3.6"
