{% load static %}

<!--Global JS-->
<script>
    window.paceOptions = {
        document: false, // disabled
        eventLag: false, // disabled
        elements: false
    };
</script>

<script src="{% static "neuboard/js/vendor/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "neuboard/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "neuboard/plugins/navgoco/jquery.navgoco.min.js" %}"></script>
<script src="{% static "neuboard/plugins/switchery/switchery.min.js" %}"></script>
<script src="{% static "neuboard/plugins/pace/pace.min.js" %}"></script>
<script src="{% static "neuboard/plugins/bootstrapdatepicker/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "neuboard/plugins/bootstrapdatepicker/locales/bootstrap-datepicker.pt-BR.min.js" %}"></script>
<script src="{% static "neuboard/js/src/app.js" %}"></script>